@import "vars";
@import "fonts";

html, body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    background-color: $color-dark;
    color: $color-steel-grey;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}
